.search-container {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    justify-items: baseline;
  }
  .search-container input {
    width: 60%;
    height: 10%;
    border-radius: 20px;
    border: 1px solid lightgray;
    color: grey;
    padding: 8px 0 8px 10px;
    margin-right: 10px;
  }
  .search-container input:focus {
    outline: 0;
  }
  .rating-search {
    color: #ffda00;
    font-size: 1.5rem;
  }
  